.linkStyle {
  text-decoration: none;
}

.sideNav {
  background-color: var(--card-background-color);
  padding: 15px;
  margin-top: 10px;
}

.sideNavItem {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.sideNavItem:hover {
  background-color: var(--secondary-color);
  border-radius: var(--button-border-radius);
  color: var(--on-secondary-color);
}

.activeLink {
  background-color: var(--secondary-color);
  border-radius: var(--button-border-radius);
  color: var(--on-secondary-color);
}

.sideNavItem > div {
  display: flex;
  align-items: center;
}

.sideNavItem > div:nth-of-type(2) {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 10px;
}
