.homePage {
  display: grid;
  grid-template-columns: 5fr 2fr;
  width: 80%;
  margin: 0 auto;
  grid-gap: 50px;
  background-color: var(--background-color);
  position: relative;
}

.searchAndStories {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.searchAndStories > div:nth-of-type(2) {
  padding: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

.articlesWrapper > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.articlesWrapper > div:nth-of-type(1) > div:nth-of-type(1) {
  flex: 1;
  font-weight: 500;
  font-size: 1.15rem;
  color: var(--text-color);
}
