:root {
  --primary-color: rgb(50, 55, 59);
  --primary-color-hover: rgb(50, 55, 59, 0.9);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
