.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  background-color: rgb(247, 247, 247);
  border-bottom: 1px solid rgb(211, 211, 211);
  position: sticky;
  top: 0px;
}

.header > div:nth-of-type(1) {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.6rem;
  text-align: center;
}
