.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: +10;
  display: flex;
  flex-direction: column;
}

.popup.open {
  opacity: 1;
  pointer-events: auto;
}

.popupContentHeader {
  display: flex;
  align-items: center;
  padding: 39px 100px;
}

.popupContentHeader > div:nth-of-type(1) {
  flex: 1;
}

.popupContentHeader > div:nth-of-type(2) {
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}

.popupContentBody {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 100px 0px;
}

.popupContentBodyInner {
  width: 22%;
  height: 100%;
  background-color: salmon;
  position: relative;
}

.sliderUpper {
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sliderUpper > div {
  flex: 1;
  background-color: var(--secondary-color);
  height: 4px;
  margin: 0px 5px;
  cursor: pointer;
}

.sliderUpper > div:last-child {
  margin: 0px 0px 0px 5px;
}

.sliderUpper > div:first-child {
  margin: 0px 5px 0px 0px;
}

.nextButton {
  position: absolute;
  color: black;
  right: -50px;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nextButton span {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.prevButton {
  position: absolute;
  color: black;
  left: -50px;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prevButton span {
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.storyContainer {
  width: 100%;
  height: 100%;
  background: url('https://cdn.wallpapersafari.com/93/31/W8w9lV.jpg');
  background-position: center center;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.storyContainer > div {
  width: 80%;
  height: 90%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.storyContainer > div > div:nth-of-type(1) {
  flex: 1;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
}

.storyContainer > div button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 0.86rem;
  cursor: pointer;
  border-radius: 50px;
  padding: 8px 15px;
}
