.followingItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
  }
  
  .followingItem > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .followingItem > div:nth-of-type(1) img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
  }
  
  .followingItem > div:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px 0px;
  }
  
  .followingItem > div:nth-of-type(3) {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
  }
  