@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.header {
  padding: 15px 0px;
  border-bottom: 1px solid gainsboro;
  position: sticky;
  top: 0px;
}

.header > section:nth-of-type(1) {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
}

.header > section:nth-of-type(1) > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.3rem;
}

.header > section:nth-of-type(1) > div:nth-of-type(1) span {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header > section:nth-of-type(1) > div:nth-of-type(1) span:nth-of-type(2) {
  margin-left: 15px;
}

.header > section:nth-of-type(1) > div:nth-of-type(2) {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.35rem;
  font-weight: 600;
  font-family: 'Share Tech Mono', monospace;
}

/* For the write blog post  */
.header > section:nth-of-type(1) > div:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header > section:nth-of-type(1) > div:nth-of-type(3) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.header > section:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(3) button {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  outline: none;
  color: var(--primary-color);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.header > section:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(3) button span {
  margin-left: 5px;
}

/* For the profile picture */
.header > section:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(2) img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}

/* For the notification bell */
.header > section:nth-of-type(1) > div:nth-of-type(3) > div:nth-of-type(1) {
  font-size: 1.3rem;
}
